$font: 'Segoe UI', Tahoma, sans-serif;
$background: #252A38;
$darker-background:#151820;
$primary-color: #2985FF;
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-lighter: 300;


@mixin flexbox {
    display: flex;
    flex-direction: column;
}

@mixin gutters{
    margin-left: 48px;
    margin-right: 48px;
}

body{
    margin: 0px;
    background-color: $background; 
    font-family: $font;
    color: white;
}

h3{
    margin-block-start: 0;
    margin-block-end: 0;
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
}


.flexContainer{
    @include flexbox;
    @include gutters;
    justify-content: center;
}
.opacity{
    opacity: 56%;
}

/* user profile */

.profileContainer{
    @include gutters;
    display: grid;
    grid-template-columns: 10% 10% 10% 70%;
    grid-template-rows: 60% 20% 20%;
    margin-bottom: 48px;
}

.coverImage{
    grid-column: 1 /span 4;
    grid-row: 1 /span 2;
    width: 100%;
    height: 100%; 
}

.transparentDiv{
    grid-row: 2 /span 1;
    grid-column: 3 /span 2;
    background-color: $darker-background;
    opacity: 56%;
    height: 100%;
    width: auto;
} 

.profileImage{
    grid-column: 2 /span 2;
    grid-row: 2 /span 3;
    justify-self: center;
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: thick solid white;
    z-index: 1;
}

.profileName{
    grid-column: 4 /span 1;
    grid-row: 2 /span 1;
    align-self: end;
    font-size: 24px;
    color: white;
    z-index: 1; 
    padding-left: 24px;
}

.profileInfo{
    @include flexbox;
    grid-column: 4 /span 1;
    grid-row: 3 /span 1;
    align-self: start;
    padding-left: 24px;
    padding-top: 10px;
}

.profileUsername{
    font-size: 12px;
    font-weight: $font-weight-bold;
}
.profileEmail{
    font-size: 12px;
    font-weight: $font-weight-lighter;
}
/* posts */

.subtitle{
    @include gutters;
    font-size: 24px;
    font-weight: 400;
}

.postsContainer{
    @include gutters;
    display: flex;
    flex-flow: wrap;
    margin-bottom:48px;
    column-gap:48px;
    row-gap:48px;
}

.postContainer{
    @include flexbox;
    flex:30%;
    width: 30%;
    aspect-ratio: 1 / 1;
    background-color: $darker-background;
}

.postImage{
    width:auto;
    height:65%;
    aspect-ratio: 16 / 9;
}

.postInfo{
    @include flexbox;
    justify-content: center;
    padding: 10px;
}

.postUsername{
    font-weight: $font-weight-bold;
    font-size: 12px;
}

.postCreatedAt{
    font-weight: $font-weight-lighter;
    font-size: 12px;
}

.postMessage{
    font-size: 12px;
    margin-top: 10px;
}

/* buttons */
.buttonContainer{
    @include gutters;
    display:flex;
    justify-content: flex-start;
    margin-bottom: 80px;
}

button{
    background-color: $background;
    color: $primary-color;
    font-size:24px;
    border: 2px solid $primary-color;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:48px;
    padding-right:48px;
}

.postButton{
    background-color: $background;
    color: $primary-color;
    border: 2px solid $primary-color;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 48px;
    padding-right:48px;
}

button:hover{
    color: white;
    border-color: white;
}

.postButtonContainer{
    @include gutters;
    display:flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

// forms

label{
    padding-top: 10px;
    padding-bottom: 10px;
}

.formContainer{
    @include flexbox;
}